@model IEnumerable<FindSomebody.Models.Person>

@{
    ViewBag.Title = "Search";
}

<h2>People</h2>

<form method="get" action="@Url.Action("Index")"
      data-search-ajax="true" data-search-target="#peopleTable">
    <input type="search" name="searchName" data-search-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Find" />
</form><br />

<form>
    @Html.Partial("_People", Model)
</form>